<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {%block titulo%}
        Homepage
        {%endblock%}
    </title>
</head>
<body>
{%block body%}
<h1>Bem-Vindo ao Gerenciador de Tarefas.</h1>
<h1>Faça Login:</h1>
<hr>
{%block formulario %}
<form method = "POST">

    {{ form.csrf_token }}

    {{ form.email.label }}
    {{ form.email() }}

    {{form.senha.label}}
    {{form.senha()}}

    {{form.botaoSub}}


</form>

{%endblock%}
{%endblock%}

<a href={{url_for('criarconta')}}>Não tem uma conta? clique aqui</a>
</body>
</html>